@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

html {
	background-color: rgb(40,40,40);
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

a:link, a:visited {
    color: rgb(20,20,20);
}

.banner {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1 {
	margin-top: 20px;
	margin-bottom: 30px;
}

.menubar {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 70px;
	background-color: rgb(183,183,183);
	text-align: center;
}

div.menubar ul {
	padding: 0;
}

div.menubar ul li {
	display: inline-block;
	margin: 18px 60px 0;
	font-family: 'Shadows Into Light', cursive;
	font-size: 23px;
	font-weight: 600;
	color: rgb(70,70,70);
	text-align: center;
}

.menu a {
	color: rgb(70,70,70);
}

div.menubar ul li.highlight_center {
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
	letter-spacing: -2px;
	margin-left: 38px;
	margin-right: 37px;
	/*box-shadow: rgba(0,0,0,0.5) 6px 6px;*/
}

div.menubar ul li.highlight_left {
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
	letter-spacing: -2px;
	margin-left: 40px;
	margin-right: 56px;
	/*box-shadow: rgba(0,0,0,0.5) 6px 6px;*/
}

div.menubar ul li.highlight_right {
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
	letter-spacing: -2px;
	margin-left: 58px;
	margin-right: 40px;
	/*box-shadow: rgba(0,0,0,0.5) 6px 6px;*/
}

img.lion {
	display: block;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

canvas {
	margin-top: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.eyes {
	top: 825px;
	font-family: 'Amatic SC', cursive;
	margin-top: 30px;
	font-size: 35px;
	color: rgb(200,200,200);
	text-align: center;
}

iframe {
		border: 10px solid rgb(200,200,200);
		margin: auto;
		margin-top: -20px;
}

span {
	font-weight: 800;
}

#last {
	margin-top: 30px;
	font-size: 13px;
	font-family: sans-serif;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #000;
}