<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>dongwoo.me</title>
	<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for("static", filename="css/galleriffic-5.css") }}" type="text/css" />
	<link rel="stylesheet" type='text/css' href="{{ url_for("static", filename="css/photo.css") }}"/>
	<script src="{{ url_for("static", filename="js/jquery-1.11.1.min.js") }}"></script>
	<script src="{{ url_for("static", filename="js/jquery-migrate-1.2.1.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="js/jquery.history.js") }}"></script>	
	<script type="text/javascript" src="{{ url_for("static", filename="js/jquery.galleriffic.js") }}"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="js/jquery.opacityrollover.js") }}"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="js/photo.js") }}"></script>
	<!-- We only want the thunbnails to display when javascript is disabled -->
	<script type="text/javascript">
	document.write('<style>.noscript { display: none; }</style>');
	</script>
</head>
<body>
	<div class="banner"><a href="http://dongwoo.me"><img src="{{ url_for("static", filename="res/img/banner_self.png") }}" alt="banner"/></a>
	</div>
	<div class="menubar">
		<ul>
			<li class="menu left"><a href="https://www.facebook.com/ldw9451" target="_blank">About</a></li>
			<li class="menu center"><a href="http://snu-yonsei.likelion.net/" target="_blank">Likelion</a></li>
			<li class="menu center"><a href="{{ url_for('photography') }}">Photography</a></li>
			<li class="menu right"><a href="{{ url_for('idea') }}" target="_blank">Idea</a></li>
		</ul>
	</div>
	<div id="page">
		<div id="container">
			<!-- Start Advanced Gallery Html Containers -->				
			<div class="navigation-container">
				<div id="thumbs" class="navigation">
					<a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
					<ul class="thumbs noscript">
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_1.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_1.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title"></div>
								<div class="image-desc">참 단아하게 피었다.</div>
							<!-- 	<div class="download">
									<a href="{{ url_for("static", filename="res/img/photo_1.png") }}">Download Original</a>
								</div> -->
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_2.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_2.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title"></div>
								<div class="image-desc">해 질 무렵, 가로등 아래의 산수유는 빛난다.</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_3.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_3.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title"></div>
								<div class="image-desc">프렉탈이 떠오른다.</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_4.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_4.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title"></div>
								<div class="image-desc">그들은 힘껏 뛰어 올랐다.</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_5.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_5.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title"></div>
								<div class="image-desc">패닝샷</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_6.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_6.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title"></div>
								<div class="image-desc">고개를 넘어 틈 사이로 끼어 소멸해갈 것 같은 느낌. 오른쪽 그림자의 수직이 아쉽다. 재촬을 가더라도 해결이 힘들 요소이다.</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_7.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_7.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title"></div>
								<div class="image-desc">가을을 그리는, 아른거리는.
								</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_8.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_8.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">무제</div>
								<div class="image-desc">거실에서 자다 깼다. 누운 채로 안경을 끼지 않고 밖을 보았다. 그 때의 느낌이 너무 아름다워 일부러 초점을 맞추지 않고 바깥을 촬영하였다. 나뭇잎 사이로 보이는 빛망울이 아름답다.</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_9.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_9.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_10.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_10.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_11.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_11.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_12.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_12.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_13.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_13.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_14.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_14.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_15.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_15.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_16.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_16.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_17.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_17.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_18.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_18.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_19.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_19.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_20.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_20.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_21.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_21.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_22.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_22.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_23.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_23.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_24.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_24.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_25.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_25.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_26.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_26.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" href="{{ url_for("static", filename="res/img/photo_27.png") }}" title="Title #0">
								<img src="{{ url_for("static", filename="res/img/sphoto_27.png") }}" alt="Title #0" />
							</a>
							<div class="caption">
								<div class="image-title">Title #0</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
					</ul>
					<a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
				</div>
			</div>
			<div class="content">
				<div class="slideshow-container">
					<div id="loading" class="loader"></div>
					<div id="slideshow" class="slideshow"></div>
				</div>
				<div id="caption" class="caption-container">
					<div class="photo-index"></div>
				</div>
				<div id="controls" class="controls"></div>
			</div>
			<!-- End Gallery Html Containers -->
			<div class="footer"><p id="last">Copyright © 2014 <b>Dong Woo Lee</b>. All rights reserved.</p>
			</div>
			<div style="clear: both;">
			</div>
		</div>
	</div>
</body>
</html>