<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename="css/self.css") }}"/>
	<script src="{{ url_for('static', filename="js/jquery-1.11.1.min.js") }}"></script>
	<script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
	<script src="{{ url_for('static', filename="js/pixelate.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="js/self.js") }}"></script>
	<title>dongwoo.me</title>
	<meta charset="UTF-8">
</head>
<body>
	<div class="banner"><a href="http://dongwoo.me"><img src="{{ url_for('static', filename="res/img/banner_self.png") }}" alt="banner"/></a>
	</div>

	<div class="menubar">
		<ul>
			<li class="menu left"><a href="https://www.facebook.com/ldw9451" target="_blank">About</a></li>
			<li class="menu center"><a href="http://snu-yonsei.likelion.net/" target="_blank">Likelion</a></li>
			<li class="menu center"><a href="{{ url_for('photography') }}">Photography</a></li>
			<li class="menu right"><a href="{{ url_for('idea') }}" target="_blank">Idea</a></li>
		</ul>
	</div>

	<div class="image">
		<img class="lion" src="{{ url_for('static', filename="res/img/lion.png") }}" alt="lion"/>
	</div>
	<div class="footer"><p id="last">Copyright © 2014 <b>Dong Woo Lee</b>. All rights reserved.</p>
	</div>
</body>
</html>